.about{
    background-color:  rgb(58, 58, 58);
    display: flex;
    flex-direction: row;
    color: white;
    flex-wrap: wrap;
}

.text{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.text h1{
    color: yellow;
}

body{
    background-color: black;
}
